<!DOCTYPE html>
<html lang="id">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XLVPCYQLVH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XLVPCYQLVH');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistem Prediksi</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-box">
        <h2>Login Sistem Prediksi</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'danger' %}
                <div class="flash-msg flash-{{ category }}">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}

        <a href="{{ url_for('auth_google') }}" class="btn-google">
            Login dengan Google
        </a>
        
        <br><br>
        <a style="color: #888; text-decoration: none;" href="/">Kembali ke Home</a>
    </div>
</body>
</html>